{{ form_start(form) }}
<div class="form-group row">
    <label for="example-datetime-local-input" class="col-2 col-form-label">Start At :</label>
    <div class="col-10">
        {{ form_widget(form.beginAt, {
            "attr": {"class": "form-control my-2"}
        }) }}
    </div>
</div>
<div class="form-group row">
    <label for="example-datetime-local-input" class="col-2 col-form-label">End At :</label>
    <div class="col-10">
        {{ form_widget(form.endAt, {
            "attr": {"class": "form-control my-2"}
        }) }}
    </div>
</div>
<div class="form-group row">
    <label for="example-datetime-local-input" class="col-2 col-form-label">Title :</label>
    <div class="col-10">
        {{ form_widget(form.title, {
            "attr": {"class": "form-control my-2"}
        }) }}
    </div>
</div>
<div class="col-12 text-center">
    <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
</div>
{{ form_end(form) }}